
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #f8bbd0;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.hero-content {
    max-width: 50%;
}

.main-heading {
    font-size: 48px;

    color: #d81b60;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero-description {
    font-size: 20px;
    margin-bottom: 30px;
    color: #555;
}

.cta-button {
    background-color: #ec407a;
    color: #fff;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #d81b60;
}


.hero-image {
    max-width: 40%;
}

.hero-image img {
    width: 100%;
    border-radius: 20px;
    border: 8px dashed #ffa07a;

     box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}


.info-section {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.card {
    background-color: #fff;
    padding: 30px;
    width: 45%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sub-heading {
    font-size: 32px;
    margin-bottom: 20px;
    color: #d81b60;
    text-align: center;
}

.description {
    margin-top: 15px; /* Odstęp między akapitami */
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
    color: #ec407a;
}



.list {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    font-size: 18px;
    color: #ec407a;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.list li::before {
    content: "🍭";
    position: absolute;
    left: 0;
    top: 0;
}


.footer {
    background-color: #d81b60;
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-top: 40px;
    font-size: 16px;
}


@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hero-image {
        max-width: 80%;
    }

    .info-section {
        flex-direction: column;
        padding: 20px;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
